{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> The right place for your christian content; building you up through through strategic means. 
            Melgat is not associated to any ministry but has one agenda; which is porpagating the gospel through providing 
            web content and embarking on yearly crusades, preaching Christ Jesus, sharing bibles and materials that are geared 
            towards turning many to Christ Jesus.
             We rely on support from ministries and donations from individuals across the globe. Be a part of us!</p>
        <a href="https://https://melgat.com/"
           class="btn btn-danger">Know more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}